button{
    width: 60px;
    height: 35px;
    font-size: 12.5px;
    border-radius:5px;
}
.input_button{
    background-color: #08f;
    border: 2px solid #06c;
    color: #fff;
    &:hover{
        background-color: #fff;
        color: #08f;
    }
}
.move_button{
    width: 120px;
    background-color: #80f;
    border: 2px solid #60c;
    color: #fff;
    &:hover{
        background-color: #fff;
        color: #80f;
    }
}
#delete{
    width: 80px;
    background-color: #f00;
    border: 2px solid #c00;
    color: #fff;

    &:hover{
        background-color: #fff;
        color: #08f;
    }
}
.numbering_button{
    background-color: #080;
    border: 2px solid #060;
    color: #fff;

    &:hover{
        background-color: #fff;
        color: #080;
    }
}
.timer_button{
    width: 80px;
    background-color: #08f;
    border: 2px solid #06c;
    color: #fff;

    &:hover{
        background-color: #fff;
        color: #08f;
    }
}
#manual{
    width: 200px;
    height: 50px;
    background-color: #f55;
    border: 2px solid #c00;
    color: #fff;
    border-radius:5px;
    font-size: 15px;

    &:hover{
        background-color: #fff;
        color: #f55;
    }
}
input{
    width: 80px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 5px;
}
select{
    width: 80px;
    height: 35px;
    border: 1px solid #000;
    border-radius: 5px;
}
select#figure_property{
    width: 140px;
}

table{
    border-collapse:separate;
    border-spacing: 5px;
    border: none;
    width: 100%;
}
table th,table td{
    border-radius: 5px;
    padding: 5px 5px;
}
table th{
    background-color: #c95;
    text-align: center;
    color: white;
    border:solid 1px #974;
    font-size: 20px;
    min-width: auto;
}
table td{
    background-color: #edb;
    text-align: left;
    border:solid 1px #a98;
    vertical-align: top;
    line-height: 1.0;
}
summary{
    cursor: pointer;
    transition: 0.2s;

    border-radius: 5px;

    &:hover {
        background-color: #bed;
    }
}
#invisible{
    color: #e4d4bc;

    &:hover {
        cursor: pointer;
        background-color: #bed;
        color: #000;
    }
}
textarea{
    font-size: 25px;
    border-radius: 5px;
    resize: vertical;
    width: 100%;
    min-height: 800px;
}
textarea.writing_integrate{
    height: 770px
}
.visible{
    display: block;
}
.invisible{
    display: none;
}
.width-400{
    min-width: 400px;
    max-width: 400px;
}